PAGE_ACCESS_TOKEN=your_facebook_page_access_token
PAGE_ID=your_page_id
telegram_token =  your_telegram_token # Replace with your actual bot token
telegram_chat_id = your_telegram_chat_id  # Replace with your actual channel username or chat ID
